<!DOCTYPE html>
<html>
  <head>
    <title>Simple Job Application System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <h3 class="center">Job Application System</h3>
    <%= yield %>
  </div>
  </body>
</html>
